body{
    background: black;
    margin: 0;
    font-family:  "Montserrat";
}

.square {
    width: 30%;
    background: lightblue;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 17%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    color: white;
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    background: steelblue;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

.selected {
    background: steelblue;
    color: white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;
}

button:hover {
    background: steelblue;
    color: white;
}